<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application

        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logof"
        android:theme="@style/Theme.AkioraTinder.Dark"
        android:supportsRtl="true">


        <activity
            android:name="com.example.akioratinder.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AkioraTinder.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.UserProfileActivity" />
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.LoginActivity"/>
        <activity android:name=".ui.LikesActivity"/>
        <activity android:name=".ui.RegisterActivity"/>
        <activity android:name=".ui.ChatActivity"/>

    </application>


</manifest>